<p-tabMenu [model]="menuItems" [activeItem]="activeItem"></p-tabMenu>

<p-table
  [columns]="columns"
  scrollDirection="both"
  [value]="values"
  [scrollable]="true"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        style="width: 150px"
        *ngFor="let col of columns; let i = index; trackBy: i;"
      >
        {{ col.field }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td
        style="width: 150px"
        *ngFor="let col of columns; let i = index"
      >
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
</p-table>

<br>
<br>
<br>
<hr>

<csx-table [rows]="sales" [columns]="columns"></csx-table>
