
<h5>HTML Native Table</h5>
<table class="w-full border-1 native-table">
  <thead>
    <tr class="border-1">
      <th class="border-1"> Product Name </th>
      <th class="border-1"> Product Code </th>
      <th class="border-1"> Star Rating </th>
      <th class="border-1"> Description </th>
    </tr>
  </thead>
  <tbody>
    <tr class="border-1" *ngFor="let product of rows">
      <td class="border-1" *ngFor="let column of columns"> {{ product[column.field] }} </td>
    </tr>
  </tbody>
  <tfoot></tfoot>
</table>
