<p-table
  [columns]="columns"
  scrollDirection="both"
  [value]="sales"
  [scrollable]="true"
>
  <ng-template pTemplate="header" let-columns pFrozenColumn>
    <tr>
      <th
        style="width: 150px"
        *ngFor="let col of columns; let i = index"
        pFrozenColumn
        [frozen]="columns[i].isFrozen"
      >
        {{ col.field }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" pFrozenColumn>
    <tr>
      <td
        style="width: 150px"
        *ngFor="let col of columns; let i = index"
        pFrozenColumn
        [frozen]="columns[i].isFrozen"
      >
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
</p-table>
